
  
.editor-panel{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    height:calc(100vh - 3.25em);
    background-color: #bbb;
}

.editor-area-container{
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-gap:0.25em;
    background-color:gray;
    min-height:96vh;
}

.editor-toolbar {
    padding: 0;
    display: flex;
    justify-content: center;
    padding:0;
    background-color: #bbb;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    position:sticky;
}

.editor-textarea {
    box-sizing: border-box;
    margin: 0;
    width: calc(100% - 2em);
    height: 95vh;
    max-height:95vh;
    min-height:6vh;
    font-size: 20px;
    font-family: monospace;
    padding: 1em;
    margin:1em;
    overflow: auto;
    resize: vertical;
    margin-top:0.25em;
    display:block;
}



.editor-button-bar{
    display: flex;
    justify-content: center;
    padding: 0.125em;
    background-color: #bbb;
  }

  .editor-button{
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    border-left:none;
    border-right:1px solid #777;
    position:relative;
    left:-1px;
    font-size:0.75em;
  }
  
  .editor-button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

  .editor-button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
  
  }
  
