
.gorilla-presenter-notification {
    display:none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    color: white;
    border-radius: 20px;
    padding: 1em;
    margin:0;
    word-wrap: break-word;
    max-width:75vw;
    max-height:75vh;
    overflow:auto;
    font-size: 100%;
    line-height:1.33;
  }

  .close-button{
    cursor: pointer;
    font-family: "fontello";
    font-size:1.5em;
  }
  
  
  
  .gorilla-presenter-error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 70%;
  }

#gorilla-presenter-about{
    display:none;
    position: fixed;
    z-index: 1000;
    color: var(--slide-body-color);
    background-color: var(--slide-body-background-color);
    padding: 1em;
    margin:0;
    word-wrap: break-word;
    max-width:100vw;
    max-height:100vh;
    overflow:auto;
    font-size: 25px;
    line-height:1.33;
}