.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.justify {
  text-align: justify;
}

.hang {
  padding-left: 2em;
  /* Indent size for subsequent lines */
  text-indent: -2em;
  /* Pull the first line back out */
}


.red {
    color: red;
}

.blue {
    color: blue;

}

.green {
    color: green;

}

.purple {
    color: rebeccapurple;
}
.orange {
    color: orange;
}
