
.icon-video:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-right-hand:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-upload:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-bold:before { content: '\e808'; } /* '' */
.icon-italic:before { content: '\e809'; } /* '' */
.icon-align-left:before { content: '\e80a'; } /* '' */
.icon-align-center:before { content: '\e80b'; } /* '' */
.icon-align-right:before { content: '\e80c'; } /* '' */
.icon-align-justify:before { content: '\e80d'; } /* '' */
.icon-scissors:before { content: '\e80e'; } /* '' */
.icon-trash-empty:before { content: '\e80f'; } /* '' */
.icon-ccw:before { content: '\e810'; } /* '' */
.icon-cw:before { content: '\e811'; } /* '' */
.icon-music:before { content: '\e812'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
