.drop-zone {
  border: 3px dashed #aaa;
  border-radius: 10px;
  padding: 60px;
  text-align: center;
  background: var(--slide-body-color);
  color: var(--slide-body-background-color);
  background: #f9f9f9;
  transition: all 0.3s;
  height: 2em;
}

.drop-zone.dragover {
  background: #e3f2fd;
  border-color: #2196F3;
}

.preview {
  margin-top: 20px;
  max-width: 100%;
}