.panel {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#slideroot {
    width: 96vw;
    height: 62.7vw;
    max-height: calc(100vh - 4vw);
    border-radius: 5vw;
    font-size: 4vw;
    resize: none;
    margin: 2vw;
    padding: 0;
    background-color: black;
    color: white;
}

.slide {
    display: none;
    border: 1px solid gray;
    border-radius: 5vw;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.slide-title {
    font-family: var(--slide-heading-font-stack);
    color:var(--slide-title-color);
    background-color:var(--slide-title-background-color);
    border-bottom: var(--slide-title-bottom-border);
    font-size: 150%;
    font-weight: bold;
    padding: 0.5em;
    padding-left: 2em;
    margin: 0
}

.slide-body {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
    height: auto;
    min-height: 100%;
    width: 100%;
    overflow: auto;
    font-family: var(--slide-body-font-stack);
    color: var(--slide-body-color);
    background-color: var(--slide-body-background-color);
}

.slide p {
    padding-left: 1em;
    padding-right: 1em;
}

.slide pre code {
    line-height: 1.5;
    font-family: var(--slide-code-font-stack);
    font-size: 0.5em;
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 5vw;
    display: block;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

.slide pre {
    font-family: var(--slide-code-font-stack);
}

.outline {
    padding: 1em;
}

.outline {
    max-width: 80%;
    margin: 0 auto;
}

.outline-item.outline-level-0 {
    padding-left: 1em;
}

.outline-item.outline-level-1 {
    padding-left: 2em;
}

.outline-item.outline-level-2 {
    padding-left: 3em;
}

.outline-item.outline-level-3 {
    padding-left: 4em;
}

.outline-item.outline-level-4 {
    padding-left: 5em;
}

.outline-item.outline-level-5 {
    padding-left: 6em;
}

.outline-item.outline-level-6 {
    padding-left: 7em;
}

.outline-item.outline-level-7 {
    padding-left: 8em;
}


.outline-item {
    height: auto;
    margin: 0;
    padding: 0.5em;
    line-height: 1;
    color:var(--outline-item-color);
    background-color: var(--outline-item-background-color);
    border: var(--outline-item-border);

}

.outline-title {
    font-weight: bold;
    color: var(--outline-item-title-color);
    background-color: var(--outline-item-title-background-color);
}

.outline-subtitle{
    color: var(--outline-item-title-color);
    background-color: var(--outline-item-title-background-color)
}

.outline-question{
    font-style:italic;
    font-weight: bold;
}

.outline-item:first-child {
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}

.outline-item:last-child {
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}


.iscorrect::after{
    content: "✓";
    color: green;
   float:right; 
}

.isincorrect::after{
    content: "✗";
    color: red;
    float:right; 

}
/*
.external-link::after {
    content:"🌐";
    color: var(--slide-body-color);
    filter: grayscale(100%);
    float:right;
  } */

  .external-link::after {
    font-family:'fontello';
    content: '\f08e'; 
    float:right;
  }

  .link{
    cursor: pointer;
  }

  .internal-link::after {
    font-family:'fontello';
    content: '\e804'; 
    color:var(--slide-body-color);
    float:right;
  }
