body {
  font-family:sans-serif;
  font-size:20px;
  line-height:1.33em;
  background: #000;
  display:block;
  padding:0;
  margin:0;
  height: auto !important;
  overflow:hidden;
  z-index:0;
}

#GorillaPresenter_upload_download{
  display:none;
  z-index:1000;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.GorillaPresenter-file-uploader{
  display:hidden;
  z-index:0;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #bbb;
  padding:0.25em;
}



.gorilla-presenter-slide {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  overflow: auto;
}
.gorilla-presenter-editor-container {
  box-sizing: border-box;
  width: 100vw;
  height: 62.7vw;
  max-height: calc(100vh - 4vw);
  padding: 0;
  margin: 0;
  background-color: #bbb;
  display: none;
}

#gorilla-presenter-slideroot {
  width: 96vw;
  height: 62.7vw;
  max-height: calc(100vh - 4vw);
  border-radius: 5vw;
  font-size: 5vw;
  resize: none;
  margin: 2vw;
  padding: 0;
}




/*
.gorilla-presenter-main-menu-item {
  text-decoration:underline;
  cursor:pointer;
  margin-top:0;
} */

.gorilla-presenter-main-menu-item:first-child {
  border-top:1px solid #cacaca;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}


.gorilla-presenter-main-menu-item:last-child {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.gorilla-presenter-main-menu-item {
  border-left:1px solid #cacaca;
  border-bottom:1px solid #cacaca;
  border-right:1px solid #cacaca;
  display:block;
  width:auto;
  padding-left:1em;
  padding-right:0.25em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  margin-top:0;
}

#gorilla-presenter-about-container {
  overflow: auto;
  width: 96vw;
  height: 62.7vw;
  max-height: calc(100vh - 4vw);
  border-radius: 5vw;
  resize: none;
  padding: 2em;
  background: #000055;
  color: #bbbb00;
}

#gorilla-presenter-main-menu {
  padding-left:0.5em;
  padding-right:0.5em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  font-size:100%;
  margin:auto;
  width:auto;
  word-break:break-word;
  word-wrap:break-word;
  max-width:50em;
  display: none;
  position: absolute;
  height: max-content;
  width: max-content;
  background-color: rgba(0,0,0,0.5);
  z-index: 500;
  color: white;
  border-radius: 20px;
  line-height: 1.2em;
}


#gorilla-presenter-warning-message {
  display:none;
  position: absolute;
  height: max-content;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  color: white;
  border-radius: 20px;
  padding: 1em;
  font-size: 2em;
}


.gorilla-presenter-editable{
  box-sizing: border-box;
  overflow: auto;
  font-family: sans-serif
}

.gorilla-presenter-text-editor {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 4vw);
  font-size: 20px;
  font-family: monospace;
  padding: 1em;
  overflow: auto;
}


.gorilla-presenter-editable {
  font-weight: normal;
  font-style: normal;
  font-family: sans-serif;
}



.gorilla-presenter-editable h1 {
  font-weight: bold;
  box-sizing: border-box;
  font-style: normal;
  font-size: 1.25em;
  height: 1.5em;
  font-family: serif;
  margin: 0;
  display: block;
  padding-left: 0.5em;
  padding-top: .75em;
}

.gorilla-presenter-editable p {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.1;
  padding-top: 0.5em;
  padding-left: 0.5em;
  display: block;
  margin: 0;
}

.gorilla-presenter-editable blockquote {
  line-height: 1.1em;
  margin-left: 1em;
  border:1px solid black;
}

.gorilla-presenter-slide code {
  line-height: 1.5;
  font-size: 0.75em;
}


.gorilla-presenter-slide pre {
  font-family:monospace;
}

.gorilla-presenter-editable li {
  line-height: 1.1em;
  margin-left: 1em;
}

.katex-display>.katex {
  display: block;
  text-align: center;
  font-size: 1.25em;
  white-space: nowrap;
}