body {
  font-family:sans-serif;
  font-size:20px;
  line-height:1.33em;
  background: #bbb;
  display:block;
  padding:0;
  margin:0;
  height: auto !important;
  overflow:hidden;
  z-index:0;
}

h1,h2, h3, h4, h5, h6 {
  font-family:serif;
  font-weight: bold;
  font-size:24px;
}

textarea::-moz-selection {
  color: white;
  background-color: rebeccapurple;
}

textarea::-webkit-selection {
  color: white;
  background-color: rebeccapurple;
}
textarea::selection {
  color: white;
  background-color: rebeccapurple;
}


#GuerrillaPresenter_upload_download{
  display:none;
  z-index:1000;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.smallfont{
  font-size:50%;
}

.GuerrillaPresenter-file-uploader{
  display:hidden;
  z-index:0;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #bbb;
  padding:0.25em;
}

.guerrilla-presenter-slide {
  width:100vw;
  height: 66.7vw;
  margin:0;
  padding:0;
}

#guerrilla-presenter-slideroot {
  width:100vw;
  height: 66.7vw;
  margin: 0;
  padding: 0;
}

.guerrilla-presenter-basicslide {
  display: grid;
  height: 66.7vw;
  grid-template-rows: 8vw 58.7vw;
}

.guerrilla-presenter-heading {
  box-sizing: border-box;
  font-size: 5vw;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 0.5vw;
  margin-top: 0;
  display: block;
}

.guerrilla-presenter-bodytext-container {
  height: auto;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

.guerrilla-presenter-bodytext {
  font-size: 4vw;
  line-height: 1.3;
  padding-left: 1em;
  padding-right: 1em;
  display: block;
}
.guerrilla-presenter-editor{
  display:none;
  width:100%;
  height:auto;
  font-size:20px;
}

.guerrilla-presenter-editable p {
  margin:0;
  padding:0;

}

.guerrilla-presenter-editable ul {
  margin:0.5em;
  padding-left:2em;

}

.guerrilla-presenter-editable ol {
  margin:0.5em;
  padding-left:2em;

}
.guerrilla-presenter-heading-container{
  padding:0;
  margin:0;
}

.guerrilla-presenter-bodytext-container{
  padding:0;
  margin:0;
}