body {
  font-family:sans-serif;
  font-size:20px;
  line-height:1.33em;
  background: #bbb;
  display:block;
  padding:0;
  margin:0;
  height: auto !important;
  overflow:hidden;
  z-index:0;
}

#GuerrillaPresenter_upload_download{
  display:none;
  z-index:1000;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.GuerrillaPresenter-file-uploader{
  display:hidden;
  z-index:0;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #bbb;
  padding:0.25em;
}

.guerrilla-presenter-slide {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  overflow: auto;
}

#guerrilla-presenter-slide-editor-container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  display: none;
}

#guerrilla-presenter-theme-editor-container{
  box-sizing: border-box;
  width:100vw;
  height: 66.7vw;
  max-height:100vh;
  margin:0;
  padding:0;
  display:none;
}

#guerrilla-presenter-slideroot {
  width:100vw;
  height: 66.7vw;
  max-height:100vh;
  font-size:5vw;
  resize:none;
  margin: 0;
  padding: 0;
}

/*
#guerrilla-presenter-warning-message {
  display: none;
  height: auto;
  position: fixed;
  top: calc(33vh - 2.5em);
  left: 2em;
  right: 2em;
  bottom: calc(33vh + 2.5em);
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  color: white;
  font-size: 3em;
  line-height: 1.2;
  padding: 0.5em;
  border-radius: 20px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
} */

#guerrilla-presenter-warning-message {
  position: absolute;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  color: white;
  border-radius: 20px;
  padding: 1em;
  font-size: 2em;
}

.guerrilla-presenter-editable{
  box-sizing: border-box;
  overflow: auto;
  font-family: sans-serif
}

.guerrilla-presenter-text-editor{
  box-sizing: border-box;
  display:none;
  width:100%;
  height:100%;
  max-height:100%;
  font-size:20px;
  font-family:monospace;
  padding:1em;
  overflow: auto;
}


.guerrilla-presenter-editable {
  font-weight: normal;
  font-style: normal;
  font-family: sans-serif;
}



.guerrilla-presenter-editable h1 {
  font-weight: bold;
  box-sizing: border-box;
  font-style: normal;
  font-size: 1.25em;
  height: 1.5em;
  font-family: serif;
  margin: 0;
  display: block;
  padding-left: 0.5em;
  padding-top: .75em;
}

.guerrilla-presenter-editable p {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.1;
  padding-top: 0.5em;
  padding-left: 0.5em;
  display: block;
  margin: 0;
}

.guerrilla-presenter-editable blockquote {
  line-height: 1.1em;
  margin-left: 1em;
  border:1px solid black;
}

.guerrilla-presenter-slide code {
  line-height: 1.5;
  font-size: 0.75em;
}


.guerrilla-presenter-slide pre {
  font-family:monospace;
}

.guerrilla-presenter-editable li {
  line-height: 1.1em;
  margin-left: 1em;
}

.katex-display>.katex {
  display: block;
  text-align: center;
  font-size: 1.25em;
  white-space: nowrap;
}