#mainmenu{
    opacity: 1; 
    display: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0 auto;
    word-break: break-word;
    word-wrap: break-word;
    display: block;
    width: auto;
    max-width:50vw;
    color: white;
    border-radius: 20px;
    line-height: 1.2em;
    overflow: auto;
}


.main-menu-item:first-child {
    border-top:1px solid #cacaca;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
  }
  
  .main-menu-item:last-child {
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }
  
  .main-menu-item{
    border-left:1px solid #cacaca;
    border-bottom:1px solid #cacaca;
    border-right:1px solid #cacaca;
    display:block;
    width:auto;
    padding-left:1em;
    padding-right:0.25em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    margin-top:0;
  }
  
  .main-menu-item.choice {
    padding:0.2em;
    cursor:pointer;
  }

  .main-menu-item select {
    min-width: 30%;
    max-width: 50%;
    margin: auto;
}

  #main-menu-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    overflow: auto;
    margin: 0 auto;
    border-radius: 10px;
    width: max-content;
    background-color: rgba(0,0,0,0.5);
    font-size: 90%;
  }
  
  
  