
#gorilla-presenter-printer-dialog {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0 auto;
    word-break: break-word;
    word-wrap: break-word;
    display: none;
    text-align: center;
    top: 45%;
    width: auto;
    max-width: 30vw;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    line-height: 1.2em;
    overflow: auto;
  }



.print-page-1-up {
    position:relative;
    width: auto;
    height: auto;
    margin:auto;
    justify-content: space-between;
    page-break-after: always;
    display:grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}



 
.print-page-6-up{
    width: 100%;
    height:100%;
    justify-content: space-between;
    page-break-after:always;
    display:grid;
    grid-template-columns:1fr 1fr;
    overflow:hidden; 
}


#print-container{
    position:relative;
    display:none;
    width: 100%;
    height:100%;
    overflow:scroll;
}

#print-container .gorilla-presenter-slide{
    position: relative;
    background-color:white;
    color:black;
    border:1px solid black;
    border-radius:10px;
    overflow:hidden;
 }

#print-container .gorilla-presenter-slide h1 {
    background-color:white;
    color:black;
 }
 #print-container .gorilla-presenter-slide li{
    font-size:75%
 }
 