/* Overwrite the default to keep the scrollbar always visible */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5vw;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
body {
  display:block;
  font-family:sans-serif;
  font-size:20px;
  line-height:1.33em;
  background: #000;
  padding:0;
  margin:0;
  height: auto !important;
  overflow:hidden;
  z-index:0;
}

:root {
  --serif-font-stack:serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --sans-serif-font-stack:sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --monospace-font-stack:monospace,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --cursive-font-stack:cursive,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --system-ui-font-stack:system-ui, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --transitional-font-stack: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --old-style-font-stack: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --humanist-font-stack: font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --geometric-humanist-font-stack: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --classical-humanist-font-stack: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --neo-grotesque-font-stack: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --monospace-slab-serif-font-stack: 'Nimbus Mono PS', 'Courier New', monospace,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --monospace-code-font-stack: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --industrial-font-stack: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --rounded-sans-font-stack:ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --slab-serif-font-stack:Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --antique-font-stack: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --didone-font-stack: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --handwritten-font-stack: 'Segoe Print', Chilanka, TSCu_Comic, casual, cursive,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --slide-heading-font-stack: var(--didone-font-stack);
  --slide-body-font-stack: var(--humanist-font-stack);
  --slide-code-font-stack: var(--monospace-code-font-stack);
}

.gorilla-presenter-error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  font-size: 70%;
}
#GorillaPresenter_upload_download{
  display:none;
  z-index:1000;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.GorillaPresenter-file-uploader{
  display:hidden;
  z-index:0;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #bbb;
  padding:0.25em;
}

#gorilla-presenter-launcher{
  display:none;
}

.gorilla-presenter-slide {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  overflow: auto;
}
.gorilla-presenter-editor-container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  max-height:100vh;
  padding: 0;
  margin: 0;
  background-color: #bbb;
  display: none;
}
.gorilla-presenter-inner-editor-container {
  display: grid;
  grid-template-rows: 1em 1fr;

}

#gorilla-presenter-media-file-chooser{
  display:none;
}
#gorilla-presenter-media-library-container{
  overflow: auto;
}
#gorilla-presenter-media-library{
  padding-top:1em;
}
#gorilla-presenter-media-library-uploader{
  padding:1em;
}
.gorilla-presenter-media-library-item {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0.5em;
  border: 1px solid #777;
  background-color: #ddd;
}


.gorilla-presenter-media-library-item:first-child {
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}


.gorilla-presenter-media-library-item:last-child {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.gorilla-presenter-image-container {
  margin-top:0.5em;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.gorilla-presenter-audio-container {
  margin-top:0.5em;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

gorilla-presenter-img {
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
}


#gorilla-presenter-slideroot {
  width: 96vw;
  height: 62.7vw;
  max-height: calc(100vh - 4vw);
  border-radius: 5vw;
  font-size: 4vw;
  resize: none;
  margin: 2vw;
  padding: 0;
}


.gorilla-presenter-main-menu-item:first-child {
  border-top:1px solid #cacaca;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}


.gorilla-presenter-main-menu-item:last-child {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.gorilla-presenter-main-menu-item{
  border-left:1px solid #cacaca;
  border-bottom:1px solid #cacaca;
  border-right:1px solid #cacaca;
  display:block;
  width:auto;
  padding-left:1em;
  padding-right:0.25em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  margin-top:0;
}

.gorilla-presenter-main-menu-item.link {
  padding:0.2em;
  cursor:pointer;
}

#gorilla-presenter-main-menu-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  overflow: auto;
  margin: 0 auto;
  border-radius: 10px;
  width: max-content;
  background-color: rgba(0,0,0,0.5);
  font-size: 90%;
}



#gorilla-presenter-main-menu {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0 auto;
  word-break: break-word;
  word-wrap: break-word;
  display: block;
  width: auto;
  max-width:50vw;
  color: white;
  border-radius: 20px;
  line-height: 1.2em;
  overflow: auto;
}

.gorilla-presenter-main-menu-item select {
    min-width: 30%;
    max-width: 50%;
    margin: auto;
}

#gorilla-presenter-about-container {
  overflow: auto;
  width: 96vw;
  height: 62.7vw;
  max-height: calc(100vh - 4vw);
  border-radius: 5vw;
  resize: none;
  padding: 3em;
  background: #e3e5eb;
  color: #092303;
}

.gorilla-presenter-unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

#gorilla-presenter-warning-message {
  display:none;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  color: white;
  border-radius: 20px;
  padding: 1em;
  margin:0;
  word-wrap: break-word;
  max-width:75vw;
  max-height:75vh;
  overflow:auto;
  font-size: 100%;
  line-height:1.33;
}


.gorilla-presenter-editable {
  box-sizing: border-box;
  overflow: auto;
  font-family: var(--slide-body-font-stack);
}

.gorilla-presenter-text-editor {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 4vw);
  font-size: 20px;
  font-family: monospace;
  padding: 1em;
  overflow: auto;
  resize:vertical;
}


.gorilla-presenter-editable h1 {
  font-weight: bold;
  font-style: normal;
  font-size:140%;
  line-height: 6vw;
  font-family: var(--slide-heading-font-stack);
  margin: 0;
  display: block;
  padding-left: 0.6em;
  border-bottom:1px solid black;
}

.gorilla-presenter-editable p {
  box-sizing: border-box;
  font-family: var(--slide-body-font-stack);
  line-height: 1.5;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right:0.5em;
  display: block;
}

.gorilla-presenter-editable blockquote {
  font-family: var(--slide-body-font-stack);
  line-height: 1.3em;
  margin-left: 1em;
  border:1px solid black;
}

.gorilla-presenter-slide code {
  font-family: var(--slide-code-font-stack);
  line-height: 1.5;
  font-size: 1em;
  background-color: white;
  color: black;
  padding: 0.5em;
  display: block;
}


.gorilla-presenter-slide pre {
  font-family: var(--slide-code-font-stack);
}

.gorilla-presenter-editable li {
  line-height: 1.3em;
  font-size:5vw;
  margin-left: 1em;
  margin-right:1em;
}

.navigable-list-item {
  line-height: 1.3em;
  margin-left: 1em;
  margin-right:1em;
}


#gorilla-presenter-about-container {
  display: block;
  width: 100vw;
  border-radius: 0;
  padding-top: 0.5em;
}

#gorilla-presenter-slide-text-editor-wrapper{
  display:grid;
  grid-template-rows:auto;
  height:calc(100vh - 3.25em);
 
}
#gorilla-presenter-slide-text-editor{
  margin-top:0.25em;
  display:block;
  height: 95vh;
  max-height:94vh;
  resize:vertical;
}

#gorilla-presenter-secondary-slide-text-editor{
  margin-top:0.25em;
  display:none;
  min-height:6vh;
  resize:none;
}

#gorilla-presenter-editor-controls {
  display: flex;
  justify-content: center;
  padding:0;
  background-color: #bbb;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  position:sticky;
}

.gorilla-presenter-button-bar{
  display: flex;
  justify-content: center;
  padding: 0.125em;
  background-color: #bbb;
}
.gorilla-presenter-editor-button{
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  border-left:none;
  border-right:1px solid #777;
  position:relative;
  left:-1px;
}

.gorilla-presenter-editor-button {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  border-left:none;
  border-right:1px solid #777;
  position:relative;
  left:-1px;
}
.gorilla-presenter-editor-button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius:10px;

}
.gorilla-presenter-editor-button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px;

}

#gorilla-presenter-about-container button {
  border-radius: 10px;
  background-color: black;
  color: white;
}
.round-list {
          padding-left:0.5em;
        padding-right: 0.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: 175%;
        margin: auto;
        width: auto;
        word-break: break-word;
        word-wrap: break-word;
        max-width: 50em;
        list-style-type: none
       
  } 
      .round-list .round-list-item {
        margin-top: 0;
      }
      .round-list-item:first-child {
        border-top: 1px solid #cacaca;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .round-list-item:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .round-list-item {
        border-left: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
        border-right: 1px solid #cacaca;
        background-color:floralwhite;
        color:darkslategray;
        display: block;
        width: auto;
        padding-left: 1em;
        padding-right: 0.25em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-top: 0;
      }
       .round-list-item .link {
        display: inline-block;
        text-decoration: none;
        background: none;
        width: 100%;
        height: 100%;
       }
      round-list-item .link:after {
        content: "〉";
        float: right;
      }
      .round-list-item.untrash-item:after { 
        content:  "〉";
        float: right;
      }
      .link{
        padding:0.2em;
        cursor:pointer
      }
      .link.standalone{
        border-radius:10px;
      }
    

    
      .navigable-list {
      padding-left:0.5em;
      padding-right: 0.5em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-size: 125%;
      margin: auto;
      width: auto;
      word-break: break-word;
      word-wrap: break-word;
      max-width: 50em;
      list-style-type: none
     
} 

.navigable-list .navigable-list-item {
  margin-top: 0;
  font-size: 3vw;
}

.navigable-list-item.navigable-list-title {
  font-family: var(--slide-heading-font-stack);
  font-weight: bold;
  text-align: center;
  background-color: floralwhite;
  color: darkslategray;
}

.navigable-list .navigable-list-header {
  font-family: var(--serif-font-stack);
  font-style: italic;
  background-color: #d4e2d7;
  color: black;
}
   
    .navigable-list-item:first-child {
      border-top: 1px solid #cacaca;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .navigable-list-item:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .navigable-list-item {
      border-left: 1px solid #cacaca;
      border-bottom: 1px solid #cacaca;
      border-right: 1px solid #cacaca;
      color:floralwhite;
      background-color:darkslategray;
      display: block;
      width: auto;
      padding-left: 1em;
      padding-right: 0.25em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      margin-top: 0;
    }
     .navigable-list-item .link {
      display: inline-block;
      text-decoration: none;
      background: none;
      width: 100%;
      height: 100%;
     }
     .navigable-list-item.link {
      display: flex;
      align-items: center; /* Optional: vertically center the content */
  }
  
 
.navigable-list-item.link.gorilla-presenter-external-link:after {
  content: "🔗 ";
  margin-left: auto; /* Pushes the arrow to the right */
}

.navigable-list-item.link.gorilla-presenter-isbn:after {
  content: "📖 ";
  margin-left: auto; /* Pushes the arrow to the right */
}

.navigable-list-item.link.gorilla-presenter-mailto:after {
  content: "📩 ";
  margin-left: auto; /* Pushes the arrow to the right */
}

.link.gorilla-presenter-branch:after {
  content: "↣ ";
  margin-left: auto; /* Pushes the arrow to the right */
}



    .navigable-list-title-image{
      width: 100px;
      height: auto;
      border-radius:10px;

    }
 

   
iframe {
  display:block;
  margin:0 auto;
}
/*
.katex-display>.katex {
  display: block;
  text-align: center;
  font-size: 1.25em;
  white-space: nowrap;
} */
