/* Overwrite the default to keep the scrollbar always visible */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5vw;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
body {
  display:block;
  font-family:sans-serif;
  font-size:20px;
  line-height:1.33em;
  background: #000;
  padding:0;
  margin:0;
  height: auto !important;
  overflow:hidden;
  z-index:0;
}

:root {
  --serif-font-stack:serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --sans-serif-font-stack:sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --monospace-font-stack:monospace,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --cursive-font-stack:cursive,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --system-ui-font-stack:system-ui, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --transitional-font-stack: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --old-style-font-stack: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --humanist-font-stack: font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --geometric-humanist-font-stack: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --classical-humanist-font-stack: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --neo-grotesque-font-stack: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --monospace-slab-serif-font-stack: 'Nimbus Mono PS', 'Courier New', monospace,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --monospace-code-font-stack: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --industrial-font-stack: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --rounded-sans-font-stack:ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --slab-serif-font-stack:Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --antique-font-stack: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --didone-font-stack: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --handwritten-font-stack: 'Segoe Print', Chilanka, TSCu_Comic, casual, cursive,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --slide-heading-font-stack: var(--didone-font-stack);
  --slide-body-font-stack: var(--humanist-font-stack);
  --slide-code-font-stack: var(--monospace-code-font-stack);
}



#GorillaPresenter_upload_download{
  display:none;
  z-index:1000;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.GorillaPresenter-file-uploader{
  display:hidden;
  z-index:0;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #bbb;
  padding:0.25em;
}

#gorilla-presenter-launcher{
  display:none;
}

.gorilla-presenter-slide {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  overflow: auto;
}
.gorilla-presenter-editor-container {
  box-sizing: border-box;
  width: 100vw;
  height: 62.7vw;
  max-height: calc(100vh - 4vw);
  padding: 0;
  margin: 0;
  background-color: #bbb;
  display: none;
}

#gorilla-presenter-media-file-chooser{
  display:none;
}
#gorilla-presenter-media-library-container{
  overflow: auto;
}
#gorilla-presenter-media-library{
  padding-top:1em;
}
#gorilla-presenter-media-library-uploader{
  padding:1em;
}
.gorilla-presenter-media-library-item {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0.5em;
  border: 1px solid #777;
  background-color: #ddd;
}


.gorilla-presenter-media-library-item:first-child {
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}


.gorilla-presenter-media-library-item:last-child {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.gorilla-presenter-image-container {
  margin-top:0.5em;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

gorilla-presenter-img {
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
}


#gorilla-presenter-slideroot {
  width: 96vw;
  height: 62.7vw;
  max-height: calc(100vh - 4vw);
  border-radius: 5vw;
  font-size: 5vw;
  resize: none;
  margin: 2vw;
  padding: 0;
}


.gorilla-presenter-main-menu-item:first-child {
  border-top:1px solid #cacaca;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}


.gorilla-presenter-main-menu-item:last-child {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.gorilla-presenter-main-menu-item {
  border-left:1px solid #cacaca;
  border-bottom:1px solid #cacaca;
  border-right:1px solid #cacaca;
  display:block;
  width:auto;
  padding-left:1em;
  padding-right:0.25em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  margin-top:0;
}

.gorilla-presenter-main-menu-item select {
    min-width: 30%;
    max-width: 50%;
    width:auto;
    margin: auto;
}

#gorilla-presenter-about-container {
  overflow: auto;
  width: 96vw;
  height: 62.7vw;
  max-height: calc(100vh - 4vw);
  border-radius: 5vw;
  resize: none;
  padding: 3em;
  background: #e3e5eb;
  color: #092303;
}

#gorilla-presenter-printer-dialog{
  padding:1em;
  font-size:100%;
  margin:auto;
  width:auto;
  word-break:break-word;
  word-wrap:break-word;
  max-width:30em;
  display: none;
  position: absolute;
  height: max-content;
  width: max-content;
  background-color: rgba(0,0,0,0.5);
  z-index: 500;
  color: white;
  border-radius: 20px;
  line-height: 1.2em;
}
#gorilla-presenter-main-menu-wrapper{
  max-width: 1vw;
  max-height: 1vh;
  overflow: auto;
}
#gorilla-presenter-main-menu {
  padding-left:0.5em;
  padding-right:0.5em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  font-size:100%;
  margin:auto;
  width:auto;
  word-break:break-word;
  word-wrap:break-word;
  max-width:100vw;
  max-height:100vh;
  display: none;
  position: absolute;
  height: max-content;
  width: max-content;
  background-color: rgba(0,0,0,0.5);
  z-index: 500;
  color: white;
  border-radius: 20px;
  line-height: 1.2em;
  overflow:auto;
}

.gorilla-presenter-unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}


  /* 1-up slides */
  #gorilla-presenter-1-up-container{
    width:auto;
    height:auto;
    padding:0;
    margin:0;
  }

  .gorilla-presenter-printslide-1-up-pdf{
    color:black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px; 
    padding:1em;
    padding-top:0;
    margin:72pt;
   /*margin:0; */
    box-sizing: border-box;
    page-break-after: always;
    font-family: var(--slide-body-font-stack);
  }

  .gorilla-presenter-printslide-1-up-pdf:last-child {
    page-break-after: avoid;
  }
  .gorilla-presenter-printslide-1-up-pdf h1 {
    background-color:darkgrey;
    color:white;
    border-bottom:2px solid black;
    margin:0;
    margin-left:-0.5em;
    margin-right:-0.5em;
    padding-bottom:0.25em;
    padding-left:0.5em;
    padding-top:0.5em;
    box-sizing: border-box;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    font-family: var(--slide-heading-font-stack);
  }
  .gorilla-presenter-printslide-1-up-pdf code {
    font-family: var(--slide-code-font-stack);
  }

  .gorilla-presenter-printslide-1-up-pdf pre {
    font-family: var(--slide-code-font-stack);
  }

  .gorilla-presenter-printslide-1-up {
    color:black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px; 
    padding:1em;
    margin:auto;
    margin-top:36pt;
    box-sizing: border-box;
    page-break-after: always;
  }

  .gorilla-presenter-printslide-1-up:last-child {
    page-break-after: avoid;
  }

  .gorilla-presenter-printslide-1-up {
    padding:1em;
    font-family: var(--slide-body-font-stack);
  }

  .gorilla-presenter-printslide-1-up h1 {
    background-color:white;
    color:black;
    border-bottom:2px solid black;
    margin:0;
    margin-left:-0.5em;
    margin-right:-0.5em;
    padding-bottom:0.25em;
    padding-left:0.5em;
    box-sizing: border-box;
    font-family: var(--slide-heading-font-stack);
  }
  .gorilla-presenter-printslide-1-up code {
    font-family: var(--slide-code-font-stack);
  }

  .gorilla-presenter-printslide-1-up pre {
    font-family: var(--slide-code-font-stack);
  }

  /* 6-up slides */


  .gorilla-presenter-printslide-6-up-page-pdf {
    margin: auto;
    box-sizing: border-box;
    page-break-after:always;
}

  #gorilla-presenter-printslide-6-up-page-pdf :last-child{
    page-break-after:avoid;
  }

  .gorilla-presenter-6-up-slide-wrapper-pdf{
    width: 100%;
    height: calc(100% - 36pt);
    margin: 0;
    overflow: hidden;
    padding: 0;
    border-radius: 10px;
    color: black;
    background-color: white;
}

.gorilla-presenter-printslide-6-up-slide-pdf {
  color: black;
  font-size:75%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1em;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

  .gorilla-presenter-printslide-6-up-slide-pdf {
    padding:1em;
    font-family: var(--slide-body-font-stack);
  }

  .gorilla-presenter-printslide-6-up-slide-pdf h1 {
    background-color:white;
    color:black;
    border-bottom:2px solid black;
    margin:0;
    margin-left:-0.5em;
    margin-right:-0.5em;
    padding-bottom:0.25em;
    padding-left:0.5em;
    box-sizing: border-box;
    font-family: var(--slide-heading-font-stack);
  }
  .gorilla-presenter-printslide-6-up-pdf code {
    font-family: var(--slide-code-font-stack);
  }

  .gorilla-presenter-printslide-6-up-slide-pdf pre {
    font-family: var(--slide-code-font-stack);
  }


  #gorilla-presenter-6-up-container{
    display:none;
    width:auto;
    height:auto;
    padding:0;
    margin:0;
  }

  .gorilla-presenter-printslide-6-up-page {
    display: grid;
    column-gap: 18pt;
    row-gap: 18pt;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2em;
    margin: auto;
    box-sizing: border-box;
    page-break-after:always;
}

  #gorilla-presenter-printslide-6-up-page :last-child{
    page-break-after:avoid;
  }

  .gorilla-presenter-6-up-slide-wrapper {
    width: 100%;
    height: calc(100% - 36pt);
    margin: 0;
    overflow: hidden;
    padding: 0;
    border-radius: 10px;
    color: black;
    background-color: white;
}

.gorilla-presenter-printslide-6-up-slide {
  color: black;
  font-size:75%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1em;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

  .gorilla-presenter-printslide-6-up-slide {
    padding:1em;
    font-family: var(--slide-body-font-stack);
  }

  .gorilla-presenter-printslide-6-up-slide h1 {
    background-color:white;
    color:black;
    border-bottom:2px solid black;
    margin:0;
    margin-left:-0.5em;
    margin-right:-0.5em;
    padding-bottom:0.25em;
    padding-left:0.5em;
    box-sizing: border-box;
    font-family: var(--slide-heading-font-stack);
  }
  .gorilla-presenter-printslide-6-up code {
    font-family: var(--slide-code-font-stack);
  }

  .gorilla-presenter-printslide-6-up-slide pre {
    font-family: var(--slide-code-font-stack);
  }


  /* We calculate a 1in/25mm margin on all sides from the base paper size.
  Hopefully this is enough to make the printout fit on printers that can't print all the way to the edge of the paper. The portrait orientation for the 6-up slides need an extra 1in/25mm in the middle horizontally and an extra 2in/50mm vertically. */

  .letter-landscape{
    width: calc(11in - 2in);
    height: calc(8.5in - 2in);
  }

  .letter-portrait{
    width: 8.5in;
    height: 10in;
  }

  .a4-landscape{
    height: calc(210mm - 50mm);
    width: calc(297mm - 50mm);
  }

  .a4-portrait{
    height: calc(297mm - 50mm);
    width: 210mm;
  }

  .letter-landscape-pdf{
    width: calc(11in - 2in);
    height: calc(8.5in - 2in);
  }

  .letter-portrait-pdf{
    width: 8.5in;
    height: 10in;
  }

  .a4-landscape-pdf{
    height: calc(210mm - 50mm);
    width: calc(297mm - 50mm);
  }

  .a4-portrait-pdf{
    height: calc(297mm - 50mm);
    width: 210mm;
  }
  




#gorilla-presenter-warning-message {
  display:none;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  color: white;
  border-radius: 20px;
  padding: 1em;
  margin:0;
  word-wrap: break-word;
  max-width:75vw;
  max-height:75vh;
  overflow:auto;
  font-size: 100%;
  line-height:1.33;
}


.gorilla-presenter-editable{
  box-sizing: border-box;
  overflow: auto;
  font-family: var(--slide-body-font-stack);
}

.gorilla-presenter-text-editor {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 4vw);
  font-size: 20px;
  font-family: monospace;
  padding: 1em;
  overflow: auto;
}


.gorilla-presenter-editable h1 {
  font-weight: bold;
  box-sizing: border-box;
  font-style: normal;
  font-size: 1.25em;
  line-height: 1.25em; /* Replacing height with line-height */
  font-family: var(--slide-heading-font-stack);
  margin: 0;
  display: block;
  padding-left: 0.6em;

  /* padding-top: .75em; */
  border-bottom:2px solid black;
}

.gorilla-presenter-editable p {
  box-sizing: border-box;
  font-family: var(--slide-body-font-stack);
  line-height: 1.5;
  padding-top: 0.5em;
  padding-left: 0.5em;
  display: block;
  margin: 0;
}

.gorilla-presenter-editable blockquote {
  font-family: var(--slide-body-font-stack);
  line-height: 1.3em;
  margin-left: 1em;
  border:1px solid black;
}

.gorilla-presenter-slide code {
  font-family: var(--slide-code-font-stack);
  line-height: 1.5;
  font-size: 0.75em;
  margin-left:1em;
}


.gorilla-presenter-slide pre {
  font-family: var(--slide-code-font-stack);
}

.gorilla-presenter-editable li {
  line-height: 1.3em;
  margin-left: 1em;
}
/*
.katex-display>.katex {
  display: block;
  text-align: center;
  font-size: 1.25em;
  white-space: nowrap;
} */
